* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: black;
  color: #a970ff;
}

/* INTRO SCREEN */
#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startBtn {
  border: 2px solid #a970ff;
  background: transparent;
  color: #a970ff;
  padding: 18px 40px;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 0 0 20px #a970ff;
  transition: 0.3s;
}

#startBtn:hover {
  background: #a970ff;
  color: black;
  box-shadow: 0 0 40px #a970ff;
}

.subtext {
  margin-top: 15px;
  font-size: 12px;
  opacity: 0.6;
}

/* MAIN SITE */
#mainSite {
  display: none;
  padding: 20px;
}

nav {
  text-align: center;
  margin-bottom: 30px;
}

section {
  margin-bottom: 40px;
  text-align: center;
}

#links a {
  display: inline-block;
  margin: 10px;
  color: #a970ff;
  border: 1px solid #a970ff;
  padding: 10px 20px;
  text-decoration: none;
}

#links a:hover {
  background: #a970ff;
  color: black;
}

/* CHAT BOX */
#chatbox {
  max-width: 400px;
  margin: auto;
  border: 1px solid #a970ff;
  padding: 15px;
}

#chatlog {
  height: 150px;
  overflow-y: auto;
  font-size: 14px;
  margin-bottom: 10px;
}

#userInput {
  width: 100%;
  padding: 8px;
  background: black;
  border: 1px solid #a970ff;
  color: #a970ff;
}
